.btn-converter{
   max-width    : 300px !important;
   min-width    : 200px !important;
   width        : 100% !important;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
}

.textError{
    color: red !important;
    font-weight: 900 !important;
    font-size: 15px !important;
}